.wrapper {
  max-width: 600px;
  padding: 10px;
}

.prompt {
  margin-bottom: 30px;
}

.total {
  font-size: 1.25rem;
  font-weight: 500;
  display: flex;
  align-items: baseline;
}
.total .dollarSign {
  font-size: .85rem;
  align-self: self-start;
  margin: 5px 2px 0 10px;
}

.total .total_number {
  font-size: 1.75rem;
  font-weight: bold;
}